footer {
    height: 140px;
    background-color: var(--backgroundDark);
    border-top: var(--boxBorder)
}

footer section {
    width: var(--contentWidth);
    height: 100%;
    margin: 0 auto;
    align-items: center;
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content;
    grid-template-areas: "logo . phone email";
    gap: 60px;
}

footer section object {
    grid-area: logo;
    height: 110px;
}

footer section .footerInfoBox {
    text-align: center;
}

footer section .footerInfoBox svg{
    margin: 0 0 15px;
    color: var(--accentLight);
    font-size: 1.6rem;
}

footer section .footerInfoBox h1{
    margin: 0 0 10px;
    text-transform: uppercase;
    font-size: 1.3rem;
}

footer section .footerInfoBox a{
    margin: 0;
    text-decoration: underline;
    color: var(--textPrimary);
}

footer section .footerInfoBox:nth-of-type(1) {
    grid-area: phone;
    position: relative;
}

footer section .footerInfoBox:nth-of-type(1):after {
    content: "";
    top: 34px;
    bottom: 34px;
    right: -30px;
    position: absolute;
    width: 1px;
    background-color: var(--accent);
}

footer section .footerInfoBox:nth-of-type(2) {
    grid-area: email;
}

@media(max-width: 750px) {
    footer {
        height: auto;
        padding: 20px 0 40px;
    }

    footer section {
        gap: 40px 10px;
        grid-template-columns:  1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "logo logo"
            "phone email";
    }

    footer section object{
        margin: 0 auto;
        height: 100px;
    }

    footer section .footerInfoBox:nth-of-type(1):after {
        display: none;
    }
}

@media(max-width: 430px) {
    footer section {
        gap: 40px 10px;
        grid-template-columns:  1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "logo logo"
            "phone phone"
            "email email";
    }
}