header {
    background-color: var(--backgroundDark);
    color: var(--textPrimary);
    border-bottom: var(--boxBorder);
    height: 90px;
    display: flex;
    align-items: center;
}

header nav {
    display: grid;
    grid-template-columns: 1fr max-content;
    width: 800px;
    margin: 0 auto;
}

header nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

header nav ul a {
    text-decoration: none;
    color: var(--textprimary);
    background-color: var(--accentDark);
    padding: 10px 15px;
    border-radius: var(--borderRadiusBtn);
    transition: background-color var(--transitionBG);
}

header nav ul a:hover {
    background-color: var(--accent);
}

header nav img{
    height: 100%;
}