.homepage {
    width: var(--contentWidth);
    margin: var(--marginTop) auto 0;
    flex: 1;
}

.homepage-welcome h1{
    margin: 0;
    font-size: var(--titleSize);
    font-weight: 500;
}

.homepage-welcome p{
    margin: 10px 0 0;
    font-size: var(--paragraphSize);
}

.infoBoxes {
    margin-top: var(--marginTop);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: var(--marginTop);
}

@media(max-width: 850px) {
    .infoBoxes {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 620px) {
    .infoBoxes {
        grid-template-columns: 1fr;
    }
}