.infoBox {
    background: rgb(85,0,0);
    background: linear-gradient(149deg, #550000 0%, #b04700 50%, #cf9900 100%);
    margin-top: 30px;
    border-radius: var(--borderRadiusBox);
    box-shadow: 0px 8px 10px 0px #07070777;
}

.infoBox div {
    margin-top: -35px;
    text-align: center;
}
.infoBox svg {
    font-size: var(--iconSize);
    background-color: var(--backgroundDark);
    padding: 10px;
    border: var(--boxBorder);
    border-radius: var(--borderRadiusBox);
}

.infoBox h1 {
    margin: 15px 20px 0;
    text-align: center;
}

.infoBox p {
    margin: 20px 20px 30px;
    text-align: center;
    font-size: var(--paragraphSize);
}