.infoBox {
    /* border: var(--boxBorder); */
    background-color: var(--backgroundLight);
    margin-top: 30px;
    border-radius: var(--borderRadiusBox);
}
.infoBox div {
    margin-top: -35px;
    text-align: center;
}
.infoBox i {
    font-size: var(--iconSize);
    background-color: var(--backgroundLight);
    padding: 10px;
    border: var(--boxBorder);
    border-radius: var(--borderRadiusBox);
}

.infoBox h1 {
    margin: 15px 20px 0;
    text-align: center;
}

.infoBox p {
    margin: 20px 20px 30px;
    text-align: center;
    font-size: var(--paragraphSize);
}