.packs-wrapper {
    flex: 1;
    width: var(--contentWidth);
    margin: 0 auto;
    overflow: hidden;
}

.packs {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    margin: var(--marginTop) 0;
}
.pack {
    width: 80%;
    border-radius: 8px;
    margin: 0 auto;
    display: grid;
    gap: 15px 20px;
    grid-template-areas: 
        "title price"
        "description priceDesc";
    grid-template-columns: 1fr 100px;
    grid-template-rows: repeat(2, max-content);
    background-color: var(--backgroundLight);
}
.pack h1 {
    margin: 0;
    padding: 15px 15px 0;
}
.pack p {
    margin: 0;
    padding: 0 15px 15px;
}

#extraPacks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

#extraPacks .pack{
    width: 100%;
}

.wash {
    background: rgb(2,0,36);
    background: linear-gradient(195deg, #000e24 0%, #043d5e 40%, #00a2ff 100%);
}
.wash-polish {
    background: rgb(85,0,0);
    background: linear-gradient(195deg, #270000 0%, #8b2800 40%, #cf8d00 100%);
}
.extra {
    background: rgb(85,0,0);
    background: linear-gradient(195deg, #252530 0%, #373e44 40%, #6a6d7a 100%);
}

@media(max-width: 1040px) {
    .pack, #extraPacks {
        width: 90%;
    }
}
@media(max-width: 900px) {
    .pack, #extraPacks {
        width: 100%;
    }
    .pack h1 {
        font-size: 1.3rem;
    }
    .pack p {
        font-size: var(--paragraphSize);
    }
}

@media(max-width: 700px) {
    #extraPacks {
       grid-template-columns: 1fr;
    }
}